:root {
  --c-pink: rgb(252, 209, 226);
  --c-lilac: rgb(229, 163, 255);
  --c-purple: rgb(158 84 241);
  --c-blue: #0000ff;

  --f-title: "Press Start 2P", serif;
  --f-body: "Open Sans", serif;
}

body {
  background: linear-gradient(var(--c-pink), var(--c-lilac));
  min-height: 100vh;
  font-family: var(--f-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--f-title);
}

h1 {
  font-size: 4rem;
  line-height: 1.6;
  letter-spacing: 5px;
}

.window {
  border: solid 3px black;

  .window__top {
    border-bottom: solid 3px black;
    height: 2rem;
    width: 100%;
    content: "";
  }

  .window__top--purple {
    background-color: var(--c-purple);
  }

  .window__content {
  }

  .window__content--big {
    padding: 4rem 1rem;
  }
}

.window--pink {
  background-color: var(--c-pink);
}

header.homepage__header {
  width: 100%;
  text-align: center;
  max-width: 1024px;
  margin: 4rem auto;

  h1 {
    color: var(--c-purple);
    text-shadow: 5px 5px 0px #eee, 7px 7px 0px var(--c-blue);
  }

  .homepage__intro {
    font-size: 2rem;
  }
}
